In [39]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from mplsoccer import Pitch
from matplotlib.colors import to_rgba
from mplsoccer import VerticalPitch, add_image, FontManager, Sbopen

In [40]:
# liverpool data
liverpool_players = pd.read_csv('data/liverpool_players.csv')
liverpool_passes = pd.read_csv('data/liverpool_passes.csv')
metrics = pd.read_csv('data/all_data_liverpool.csv')

liverpool_passes = pd.merge(liverpool_passes, liverpool_players, left_on='Source', right_on='id')
liverpool_passes = pd.merge(liverpool_passes, liverpool_players, left_on='Target', right_on='id')
liverpool_players = pd.merge(liverpool_players, metrics, left_on='id', right_on='Id')

In [41]:
positions = {
    'Alisson' : 'south_america',
    'Matip' : 'europe',
    'Van Dijk' : 'europe',
    'Robertson' : 'europe',
    'Alexander-Arnold' : 'europe',
    'Fabinho' : 'south_america',
    'Wijnaldum' : 'europe',
    'Henderson' : 'europe',
    'Firmino' :'south_america',
    'Mané' : 'africa',
    'Salah' : 'africa'
}
liverpool_passes['position_from'] = liverpool_passes['label_x'].map(positions)
liverpool_passes['position_to'] = liverpool_passes['label_y'].map(positions)

In [42]:
liverpool_passes

,Source,Target,Weight,label_x,id_x,label_y,id_y,position_from,position_to
0,3664,3531,9,Alexander-Arnold,3664,Salah,3531,europe,africa
1,3655,3531,3,Robertson,3655,Salah,3531,europe,africa
2,3532,3531,3,Henderson,3532,Salah,3531,europe,africa
3,3502,3531,1,Matip,3502,Salah,3531,europe,africa
4,3669,3531,2,Van Dijk,3669,Salah,3531,europe,africa
...,...,...,...,...,...,...,...,...,...
68,3502,3664,2,Matip,3502,Alexander-Arnold,3664,europe,europe
69,3669,3664,1,Van Dijk,3669,Alexander-Arnold,3664,europe,europe
70,3247,3664,1,Fabinho,3247,Alexander-Arnold,3664,south_america,europe
71,3531,3664,2,Salah,3531,Alexander-Arnold,3664,africa,europe
72,3567,3664,2,Wijnaldum,3567,Alexander-Arnold,3664,europe,europe

In [50]:
liverpool_passes[(liverpool_passes['position_from']== 'africa') & (liverpool_passes['position_to']=='africa')]['Weight'].sum()

5

In [47]:
liverpool_passes['Weight'].sum()

165